JIRA_DOMAIN=https://esb-id.atlassian.net
JIRA_EMAIL=safruddin.budi@esb.co.id
JIRA_API_TOKEN=your_jira_token_here
TELEGRAM_BOT_TOKEN=your_telegram_token_here
TELEGRAM_CHAT_ID=your_chat_id_here
CRON_SECRET=your_secret_passphrase_here
PORT=3000
NODE_ENV=development
